<!--
<div>
  <h2>Job Application for Heroes</h2>
  <app-dynamic-form [questions]="questions"></app-dynamic-form>
</div> -->

<!-- <div id="params-form"> -->
  <!-- <h3>Experimental Parameters</h3> -->
  <app-params-form [questions]="questions"></app-params-form>
<!-- </div> -->


<!-- EXPERIMENT SELECTION OPTIONS -->
<!-- <mat-form-field>
  <mat-select [(value)]="sel_expt" placeholder="Experiment">
    <mat-option *ngFor='let expt of expts' [value]="expt">{{expt}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select [(value)]="sel_expt" placeholder="Experiment">
    <mat-option *ngFor='let expt of expts' [value]="expt">sample source (DNA, RNA, etc.)</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select [(value)]="sel_expt" placeholder="Experiment">
    <mat-option>Code used on vial?</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select [(value)]="sel_lib" placeholder="Library">
    <mat-option *ngFor='let lib of libs' [value]="lib">Library {{lib}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-checkbox>Replicate</mat-checkbox>
DATE

 <button mat-raised-button color="accent">Create Experiment</button> -->
