<mat-table #files [dataSource]="dataSource" matSort>
  <!-- File Name Column -->
  <ng-container matColumnDef="file">
    <mat-header-cell *matHeaderCellDef mat-sort-header>file</mat-header-cell>
    <mat-cell *matCellDef="let element" [ngClass] = "[element.status.key]">
      <div class="file-name">
        <a href="{{dropbox_url}}{{element.url}}" target="_blank">
          {{element.filename}}
        </a>
      </div>
      <div class="file-path">
        <a href="{{dropbox_url}}{{element.url}}" target="_blank">
        {{element.url}}
        </a>
      </div>

    </mat-cell>
  </ng-container>


  <!-- Timepoint Column -->
  <ng-container matColumnDef="timepoint">
    <mat-header-cell *matHeaderCellDef mat-sort-header>timepoint</mat-header-cell>
    <mat-cell *matCellDef="let element" [ngClass] = "[element.status.key]">
      <mat-chip class="timepoint">
        {{ element.timepoint }}
      </mat-chip>
    </mat-cell>
  </ng-container>


  <!-- File Status Column -->
  <ng-container matColumnDef="status">
    <!-- TODO: CSS style -->
    <mat-header-cell *matHeaderCellDef mat-sort-header>status</mat-header-cell>
    <mat-cell *matCellDef="let element" [ngClass] = "['status', element.status.key]"> {{ element.status.value }} </mat-cell>
  </ng-container>

  <!-- File Upload Date Column -->
  <ng-container matColumnDef="date">
    <!-- TODO: format date -->
    <mat-header-cell *matHeaderCellDef mat-sort-header>date uploaded</mat-header-cell>
    <mat-cell *matCellDef="let element" [ngClass] = "[element.status.key]">{{element.date_upload}}</mat-cell>
  </ng-container>

  <!-- Upload New Data Column -->
  <ng-container matColumnDef="upload">
        <!-- TODO: CSS style -->
    <mat-header-cell *matHeaderCellDef>upload new file</mat-header-cell>
    <mat-cell *matCellDef="let element" [ngClass] = "['upload', element.status.key]">
      <mat-icon>backup</mat-icon>
    </mat-cell>
  </ng-container>

  <!-- GENERATE TABLE -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>


<!-- PAGINATION -->
<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>
