@import '~_custom_colors.scss';

// sizes
$dot-size: 15px;

.status {
  height: $dot-size;
  width: $dot-size;
  border: $default-color solid 1px;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
  font-size: 0;
}


// Fix the list positions
.statuses li {
  display: inline;
}

.statuses {
  list-style-type: none;
    display: inline;
}

.status-descrip {
  vertical-align: bottom;
  padding-left: 5px;
}
