@import '~_custom_colors.scss';

// summary text
.summary-text {
  color: $grey-200;
  height: 100%;
  align-items: baseline !important;
}

.annotation {
  font-size: 1.5em;
}

.summary-num {
  font-size: 2em;
  font-weight: 400;
  padding-left: 12px;
  padding-right: 12px;
}

.complete, .todo {
  font-size: 1.75em;
}

.todo {
  color: $grey-300;
}



// Bar graph tracker
.bargraph {
  width: 100%;
  height: 45px;
}

.target-rect {
  fill: $grey-200;
  stroke: $default-color;
  stroke-size: 1px;
}

.complete-rect {
  fill: $complete-color;
  stroke: $default-color;
  stroke-size: 1px;
}
