<!-- PATIENT OVERVIEW HEADER -->
<app-patient-header (patientEmitter)="onPatientEmit($event)" (timeptEmitter)="onTimeptEmit($event)"></app-patient-header>

<!-- EXPERIMENTAL PARAMETERS FORM -->
<app-expt-params (formData)="onParamsEmitParent($event)"></app-expt-params>

<div fxLayout='row'>
<!-- COPY THE NAME -->
  <div fxFlex>
    <app-copy-filename [current_timept]="currentTimept" [current_patient]="currentPatient" [params]="formData"></app-copy-filename>
  </div>

  <div fxFlex>
    <!-- <app-expt-details [form_data] = "formData" *ngIf="formData "></app-expt-details> -->
  </div>
</div>
