.checkbox-grp {
    margin: 10px;
}

.checkbox-horiz-grp {
  display: flex;
  align-content: center;
  align-items: center;
  // height: 60px;
}

.checkbox-horiz {
  margin: 0 10px 0 0;
}

h3 {
  margin-top: -1.17em;
}
