@import '~_custom_colors.scss';

a {
  text-decoration: none;
  color: $default-color;
}

mat-card {
  background: lighten($tab-color, 10%);
  width: 300px;
  height: 300px;
  margin: 10px 5px 10px 10px;
}

mat-card-subtitle {
  font-size: 0.8 * 1.25em;
}


mat-card-content {
  font-size: 0.8 * 1.45em;
}

.half {
  height:100px;
  // font-size: 0.8em;
  margin-bottom: 50px;
}

.sep {
  margin-top: 20px;
  margin-bottom: 40px;
}

.summary-text {

}
