<h2>Patient summary</h2>

<!-- FILTERING OPTIONS + KEY -->
<div fxLayout="row" fxLayoutAlign="space-between">
  <app-lab-selector (changeLabs) = "filterLabs($event)"></app-lab-selector>

  <app-status-key></app-status-key>

</div>


<!-- SUMMARY BAR GRAPH -->
<app-patient-summary *ngIf="total_samples"
[num_total]="total_samples" [num_complete]="total_done" [label]="'completely analyzed samples'"></app-patient-summary>

<!-- STOPLIGHT DOT PLOT TABLE -->
<app-patient-stoplight [sel_labs]="labs" (totSamplesDone)="updateTotal($event)"></app-patient-stoplight>
