<h1>
Center for Viral Systems Biology Data Management System
</h1>

<nav mat-tab-nav-bar>
  <a mat-tab-link routerLink='patient' routerLinkActive="active" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
  patient-file browser
</a>

  <a mat-tab-link routerLink='sample-naming' routerLinkActive="active" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
    sample file naming standards
  </a>

  <a mat-tab-link routerLink='patients' routerLinkActive="active" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
    patient-experiment dashboard
  </a>
</nav>



<router-outlet></router-outlet>
