<!-- PATIENT OVERVIEW NAVBAR -->
<nav id='patient_overview'>
  <!-- Select Patient ID -->
  <mat-form-field class="patient-select">
    <input type="text" placeholder="Patient ID" aria-label="Patient ID" matInput [formControl]="patientCtrl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (onSelectionChange)="changeID($event, option)">
        <!-- (onSelectionChange)="this.currentPatient = option"> -->
        {{ option.patient_id }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- List key metadata for patient -->
  <ng-container id='patient_attributes' *ngIf='currentPatient'>
    <li [ngClass]="['sex', currentPatient.sex]">
      {{ currentPatient.sex }}
    </li>

    <li class='age'>
      {{ currentPatient.age }}
    </li>

    <li [ngClass]="['virus', currentPatient.cohort]">
      {{ currentPatient.cohort }}
    </li>

    <li [ngClass]="['status', currentPatient.cohort_exposure, currentPatient.cohort]">
      {{ currentPatient.cohort_exposure }}
    </li>

    <mat-chip-list class='timepoints'>
      <mat-chip class="timepoint" *ngFor="let timept of currentPatient.timepoints">
        {{ timept }}
      </mat-chip>
    </mat-chip-list>

  </ng-container>


</nav>
<!-- end of patient overview -->
