@import '~_custom_colors.scss';

// sizes
$dot-size: 15px;

.status {
  height: $dot-size;
  width: $dot-size;
  border: $default-color solid 1px;
  border-radius: 50%;
  display: block;
  margin: auto;
  font-size: 0;
}


// Timepoint buttons
.timepoints {
  display: inline-block;
}

.timepoint {
  background-color: #ccc;
  text-align: center;
}

.timepoint::before {
  content: "T";
}
