<!-- Filter by lab -->
<app-lab-selector (changeLabs) = "filterLabs($event)"></app-lab-selector>

<div *ngIf="sampleStatuses">
{{expts}}

<div class='small-multiple' *ngFor="let expt of expts">
  <h2>{{ expt }}</h2>

    <div fxLayout="row wrap" class='one' fxLayoutGap="100px" fxFlex fxLayout.xs="column" fxLayout.sm="column">
      <!-- Plot cumulative summary as bar graph-->
      <app-expt-summary class='one' fxFlex="40%" [data]="sampleStatuses[expt]"></app-expt-summary>

      <!-- Plot individual patients by experiment as a grid -->
      <div class='gridplot one' fxFlex="calc(40% - 100px)">
        <app-grid-grp [data]="sampleStatuses[expt]"></app-grid-grp>
      </div>
    </div>

    <mat-divider></mat-divider>
  </div>
</div>
